@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Oswald', 'sans-serif';
}

h1 {
    text-align: center;
}

#submit-url {
    display: flex;
    justify-content: center;
    padding: 1em;
}

label, input {
    margin: 0.2em;
    padding: 0.5em;
}

.center {
    display: grid;
    justify-content: center;
    text-align: center;
}

#copy-paste {
    color: orange;
}
