<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>URL Shortener</title>
</head>
<body>
    <h1>Welcome to the URL Shortener</h1>
    <main>
        <form id="submit-url" action="/" method="POST">
            <label for="url">URL</label>
            <input type="text" name="url" id="url" placeholder="Enter URL">
            <input type="submit" id="submit" value="Shorten">
        </form>
        {% if shortened_url %} 
            <h2>Your shortened url is: <a href="#">{{ shortened_url}}</a></h2>
        {% endif %}
    </main>
</body>
</html>
